/* Background Image  */
.wallpaper {
    background-image: url("https://images.pexels.com/photos/2253573/pexels-photo-2253573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

/* Navbar  */
.navbar {
    background-color: #2893B0;
    border-bottom: 4px solid #343A40;
}

#navbar-brand {
    color: white;
    /* font-family: "Times New Roman", Times, serif; */
    /* font-weight: bold; */
    font-size: 32px;
    padding-bottom: 0;
}

.nav-link {
    font-size: 24px;
}

/* Content style  */
.container {
    margin-left: 0.5rem;
}

main,
form {
    background-color: #ffffff;
    margin: 3rem 1rem;
    padding: 2rem;
    border-radius: 15px;
}

h1,
h3 {
    color: #2893B0;
    /* font-family: "Times New Roman", Times, serif; */
    /* font-weight: bold; */
}

/* Portfolio page  */
/* Projects */
.project-card {
    margin-top: 1rem;
    margin-left: 2rem;
    width: 16rem;
    height: auto;
    background-color: #cfcfcf;
    border-color: #1b1b1b;
}

.project-title {
    margin: .75rem;
    text-align: center;
    text-decoration: underline;
}

.project-img {
    padding: 0.5rem;
}

/* Contact page style */
/* Submit button  */
.btn-primary {
    background-color: #2893B0;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 1rem;
}

.btn-primary:hover {
    background-color: #343A40;
}

/* About page style  */
/* Font */
/* p { */
    /* font-family: Arial, Helvetica, sans-serif; */
/* } */

/* My Picture  */
.myPic {
    float: left;
    margin-right: 0.5rem;
    width: 12rem;
    height: auto;
}

/* Contact Info */
.contact-info-list {
    list-style-type: none;
}

.contact-info-title {
    font-weight: bold;
    color: #343A40;
}

/* Footer  */
#nav-bottom {
    border-top: 4px solid #2893B0;
    border-bottom: none;
}

#footer {
    font-size: .75rem;
    color: #2893B0;
}