/* Background Image  */
.wallpaper {
    background-image: url("https://images.pexels.com/photos/1323712/pexels-photo-1323712.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

/* Add a teal background color to the Name in nav bar  */
#navbar-brand {
    background-color: #4AAAA5;
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

/* Content style  */
main,
form {
    background-color: #ffffff;
    margin: 3rem 1rem;
    padding: 2rem;
}

h1 {
    color: #4AAAA5;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

/* Portfolio page  */
/* Portfolio images  */
img {
    width: 350px;
    height: 350px;
    margin: 1rem;
}

/* Contact page style */
/* Submit button  */
.btn-primary{
    background-color: #4AAAA5;
    border: none;
    border-radius: 2px;
    padding: 16px 28px;
}

/* About page style  */
/* Font */
p {
    font-family: Arial, Helvetica, sans-serif;
}

/* My Picture  */
.myPic{
    float: left;
    width: 200px;
    height: 200px;
}