/* Projects */
#project-card {
    margin-top: 1rem;
    margin-left: 2rem;
    /* width: 16rem; */
    height: auto;
    background-color: #86BFC9;
    border-color: #1b1b1b;
    box-shadow: 5px 10px 10px #03293C;
}

.project-title {
    margin: .75rem;
    text-align: center;
    text-decoration: underline;
}

.project-img {
    padding: 0.5rem;
    border-radius: 12px;
    max-height: 500px;
}